---
uid: CloudConnectionVerification
keywords: cloud organization, cloud connection
reviewer: Alexander Verkest
---

# Getting your organization verified

To make sure you can get the most out of having your DataMiner System connected to dataminer.services, you need to get your organization verified on dataminer.services. This verification ensures that you have access to all the current and upcoming new dataminer.services features.

Benefits include access to the licensed connectors in the Catalog for systems with a perpetual license. The Catalog allows you to [install connectors directly](xref:Deploying_a_catalog_item) from dataminer.services. Systems with a subscription license can access all connectors.

To get your organization verified on dataminer.services:

1. In the [Admin app](xref:Accessing_the_Admin_app), check whether the correct organization is mentioned in the header bar.

1. If a different organization should be selected, click the organization selector ![Organization selector](~/dataminer/images/Cloud_Admin_Selector_icon.png) in the top-right corner and select the organization in the list.

1. In the sidebar on the left, go to *Organization* > *Overview*.

1. Click the *Request verification* button. This will create a pre-configured email to the Skyline verification team with all the information they need in order to verify your connection to dataminer.services.

When your connection has been successfully verified, this will be displayed on this same page in the Admin app.

> [!NOTE]
> You can also start the verification process by contacting the Skyline verification team directly at [verification@skyline.be](mailto:verification@skyline.be).
