<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="CloudNuGet" value="https://pkgs.dev.azure.com/skyline-cloud/Cloud_NuGets/_packaging/CloudNuGet/nuget/v3/index.json" />
  </packageSources>
 
  <packageSourceCredentials>
    <CloudNuGet>
      <add key="Username" value="baptiste.pattyn@skyline.be" />
      <add key="ClearTextPassword" value="2DMzHHzekXTbltufi03ZgHz8UpqltRgC0qPKpvtXq6yCTOyB6AoJJQQJ99ALACAAAAAwmO52AAASAZDOTpte" />
    </CloudNuGet>
  </packageSourceCredentials>
</configuration>