---
uid: CloudConnectionVerification
---

# Getting your DataMiner System cloud connection verified

## Why verification matters

In order to get the most out of your DataMiner System being cloud connected, it is recommended to get your cloud connection verified. This verification will ensure that you have access to all the current and upcoming new cloud features.

 Current benefits include access to the cloud catalog in order to install protocols directly from the cloud platform using the artifact deployer.

> [!IMPORTANT]
> The Artifact Deployer is available starting from Cloud Pack v2.4.

## How to get verified

In order to start the verification process, please contact the Skyline verification team at verification@skyline.be with your request. Alternatively, the organization page on the [administration page](https://admin.dataminer.services/) of your organization has a button to create a pre-filled email that contains some useful information to speed up the verification process.

The verification status can be monitored on the same administration page of your organization as mentioned above. Upon successful verification, a verified check mark will be visible next to your organization name on the overview page as well as a section indicating the current status in plain text.
