:root, body.light-theme {
  --color-foreground: #171717;
  --color-navbar: #ccd5dc;
  --color-breadcrumb: #747474;
  --color-underline: #ddd;
  --color-toc-hover: #4c4c4c;
  --color-background: #ffffff;
  --color-background-subnav: #f2f2f2;
  --color-background-dark: #00517D;
  --color-background-table-alt: #f9f9f9;
  /* --color-background-quote: #69696e; */
  --color-background-quote: #747474;
  --color-background-alert-note: #d7eaf8;
  --color-foreground-alert-note: #004173;
  --color-background-alert-tip: #dff6dd;
  --color-foreground-alert-tip: #054b16;
  --color-background-alert-warning: #fff4ce;
  --color-foreground-alert-warning: #6a4b16;
  --color-background-alert-caution: #fde7e9;
  --color-foreground-alert-caution: #470001;
  --color-background-alert-important: #efd9fd;
  --color-foreground-alert-important: #3b2e58;
  --color-foreground-hyperlink-hover: #23527c;
}

body.dark-theme {
  --color-foreground: #ccd5dc;
  --color-navbar: #ccd5dc;
  --color-breadcrumb: #bbb;
  --color-underline: #555;
  --color-toc-hover: #fff;
  --color-background: #2d2d30;
  --color-background-subnav: #3a3a3e;
  --color-background-dark: #013c5c;
  --color-background-table-alt: #212123;
  /* --color-background-quote: #69696e; */
  --color-background-quote: #bbb;
  --color-background-alert-note: #02355c;
  --color-foreground-alert-note: #d7eaf8;
  --color-background-alert-tip: #043811;
  --color-foreground-alert-tip: #dff6dd;
  --color-background-alert-warning: #483310;
  --color-foreground-alert-warning: #fff4ce;
  --color-background-alert-caution: #3e0203;
  --color-foreground-alert-caution: #fde7e9;
  --color-background-alert-important: #362a50;
  --color-foreground-alert-important: #efd9fd;
  --color-foreground-hyperlink-hover: #3781c1;
  }

html,
body {
  font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: var(--color-foreground);
  line-height: 160%;
  font-size: 16px;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-wrap: break-word;
  background-color: var(--color-background);
}

.btn.focus, .btn:focus, .btn:hover {
  color: var(--color-foreground);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 30px;
  margin-bottom: 18px;
  font-weight: 600;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 600;
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.8;
}

h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.8;
}

h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

article h4{
  font-weight: 600;
}	

h5 {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 0px;
}

h6 {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0px;
}

.table {
 font-size: 14px;
}

article h1, article h2, article h3, article h4 {
  margin-top: 35px;
  margin-bottom: 15px;
}

button:hover, button:focus, a:hover, a:focus {
  color: var(--color-foreground-hyperlink-hover);
  text-decoration: underline;
}

.navbar-brand>img {
  color: var(--color-background);
}

.navbar {
  border: none;
}

.subnav {
  border-top: 1px solid var(--color-underline);
  background-color: var(--color-background-subnav);
}

.sidenav, .fixed_header, .toc {
  background-color: var(--color-background);
}

.navbar-inverse {
  background-color: var(--color-background-dark);
  z-index: 100;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
  color: var(--color-navbar);
  background-color: var(--color-background-dark);
  border-bottom: 3px solid transparent;
  padding-bottom: 12px;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #eef2f5; /*var(--color-foreground);*/
  background-color: var(--color-background-dark);
  border-bottom: 3px solid transparent; /*var(--color-background-subnav);*/
  transition: all ease 0.25s;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  color: #eef2f5; /*var(--color-foreground);*/
  background-color: var(--color-background-dark);
  border-bottom: 3px solid transparent; /*var(--color-foreground);*/
  /*transition: all ease 0.25s;*/
}

.navbar-form .form-control {
  border: none;
  border-radius: 4px;
}

.toc .level1>li {
  font-weight: 400;
}

.toc .nav>li>a {
  color: var(--color-foreground);
}

.toc {
  padding-right: 0px;
  margin-right: 0px;
}
.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  text-decoration: underline;
}
.toc .nav > li.active > a {
  font-weight: 600;
  background-color: var(--color-background-subnav);
  color: var(--color-foreground);
}
.toc .nav > li > a {
  padding: 2px 5px;
  margin-left: 0px;
}

.sidefilter {
  background-color: var(--color-background);
  border-left: none;
  border-right: none;
}

.toc-filter {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0;
  background-color: var(--color-background);
}

.toc-filter>input {
  border: 1px solid var(--color-underline);
  border-radius: 2px;
  background-color: var(--color-background);
  padding: 2px 0 2px 20px;
  font-size: 90%
}

.toc-filter>.clear-icon {
  position: absolute;
  top: 19px;
  right: 15px;
}

.toc-filter>input:focus {
  color: var(--color-foreground);
  transition: all ease 0.25s;
}

.toc-filter>.filter-icon {
  top: 20px;
  font-size: 12px;
}

.sidetoc>.toc {
  background-color: var(--color-background);
  overflow-x: hidden;
}

.sidetoc {
  background-color: var(--color-background);
  border: none;
}

.alert {
  background-color: inherit;
  color: var(--color-foreground);
  border-radius: 6px;
}

.alert>h5 {
  padding: 0px;
  font-size: 16px;
  font-weight: 600;
}

.NOTE.alert-info{
	background-color:var(--color-background-alert-note);
	border-color:var(--color-background-alert-note);
}
.TIP.alert-info{
	background-color:var(--color-background-alert-tip);
	border-color:var(--color-background-alert-tip);
}
.WARNING.alert-warning{
	background-color:var(--color-background-alert-warning);
	border-color:var(--color-background-alert-warning);
}
.CAUTION.alert-danger{
	background-color:var(--color-background-alert-caution);
	border-color:var(--color-background-alert-caution);
}
.IMPORTANT.alert-danger{
	background-color:var(--color-background-alert-important);
	border-color:var(--color-background-alert-important);
}

.NOTE.alert h5 {
  color: var(--color-foreground-alert-note);
}
.TIP.alert h5 {
  color: var(--color-foreground-alert-tip);
}
.WARNING.alert h5 {
  color: var(--color-foreground-alert-warning);
}
.CAUTION.alert h5 {
  color: var(--color-foreground-alert-caution);
}
.IMPORTANT.alert h5 {
  color: var(--color-foreground-alert-important);
}

pre {
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: var(--color-background-subnav);
  border-radius: 0;
  border: none;
}

code {
  background: var(--color-background-subnav) !important;
  color: var(--color-foreground) !important;
  border-radius: 2px;
}

.hljs {
  color: var(--color-foreground);
}

.hljs-tag{
  color: var(--color-foreground);
}

.expand-stub {
  top: 3px;
}

.expand-stub + a {
  font-weight: normal;
}

.toc .nav>li.active>.expand-stub::before, .toc .nav>li.in>.expand-stub::before, .toc .nav>li.in.active>.expand-stub::before, .toc .nav>li.filtered>.expand-stub::before {
  content: "\e259"; /*"▾";*/
}

.toc .nav>li>.expand-stub::before, .toc .nav>li.active>.expand-stub::before {
  content: "\e258"; /*"▸";*/
  font-size: 11px;
  font-family: "Glyphicons Halflings";
}

.affix ul ul>li>a:before {
  content: "|";
}

.affix {
  position: relative;
  height: 95%;
  overflow-x: hidden;
  overflow-y: auto;
}

.breadcrumb {
  background-color: var(--color-background-subnav);
}

.breadcrumb .label.label-primary {
  background: #444;
  border-radius: 0;
  font-weight: normal;
  font-size: 14px;
}

#breadcrumb .breadcrumb>li a {
  border-radius: 0;
  font-weight: normal;
  font-size: 85%;
  display: inline;
  padding: 0 .6em 0;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  color: var(--color-breadcrumb);
}

#breadcrumb .breadcrumb>li a:hover {
  color: var(--color-foreground);
  transition: all ease 0.25s;
  text-decoration: underline;
}

.breadcrumb>li+li:before {
  font-size: 85%;
  color: var(--color-breadcrumb);
  padding: 0;
}

.light-theme .breadcrumb>li+li:before {
  color: var(--color-breadcrumb);
 }

.toc .level1>li {
  font-size: 14px;
  padding-left: 5px;
}

.toc .level3>li {
  margin-left: 15px;
}
.toc .level4>li {
  margin-left: 14px;
}
.toc .level5>li {
  margin-left: 13px;
}
.toc .level6>li {
  margin-left: 12px;
}

.toc ul{
  font-size: 14px;
}

.footer {
  border-top: none;
  background-color: var(--color-background-subnav);
  padding: 15px 0;
  font-size: 90%;
}

.toc .nav>li>a:hover, .toc .nav>li>a:focus {
  color: var(--color-toc-hover);
  transition: all ease 0.1s;
}
.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  color: var(--color-toc-hover);
}

.nav>li {
    padding-left: 2px;
}

.form-control {
  background-color: var(--color-background-subnav);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input#search-query:focus {
  color: var(--color-foreground);
}

.table-bordered, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-top:1px solid var(--color-underline);
  border-bottom:1px solid var(--color-underline);
  border-left:0px;
  border-right:0px;
}
.table:not(.table-simple) {
    border: 1px solid var(--color-underline);
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: var(--color-background);
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 10px;
  font-size: 110%;
  border-left: 5px solid var(--color-background-quote);
  color: var(--color-background-quote);
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
  background-color: var(--color-background-subnav);
  border-color: var(--color-background-subnav);
}

.breadcrumb>li, .pagination {
  display: inline;
}

.tabGroup a[role="tab"] {
  border-bottom: 2px solid var(--color-background-dark);
}

.tabGroup a[role="tab"][aria-selected="true"] {
  color: var(--color-foreground);
}

.tabGroup section[role="tabpanel"] {
  border: 1px solid var(--color-background-dark);
}

.sideaffix > div.contribution > ul > li > a.contribution-link:hover {
  background-color: var(--color-background);
}

/* JSP 31.03.2023 */
.sideaffix > nav > div > ul > li > a {
  color: var(--color-breadcrumb);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  top: 3px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.toggle-mode .icon {
  display: inline-block;
}

.toggle-mode .icon i {
  font-style: normal;
  font-size: 17px;
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
  vertical-align: middle;
}

.sidefilter {
  padding-left: 0px;
}
.sidetoc {
  margin-top: 10px;
  margin-left: -15px;
}

.col-md-10{
  padding-left: 35px;
}

@media only screen and (max-width: 768px) {
  .article.grid-right {
    margin-left: -15px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
	.container {
	width: 100%;
	}
	.sidefilter {
	  width: 33.3%;
	}
	.sidetoc {
	  width: 33.3%;
	}
	.article.grid-right {
	  margin-left: 33.3%;
	}
}

@media (min-width: 992px) and (max-width: 1768px) {
  .container {
    width: 100%;
  }
  .sidefilter {
    width: 25%;
  }
  .sidetoc {
    width: 25%;
  }
  .article.grid-right {
    margin-left: 25%;
  }
  .col-md-10{width:75%}
  .col-md-2{width:25%}
  .sideaffix {
    width: 18%;
  }
  .affix ul>li.active>a {
    white-space: initial;
  }
  .affix ul>li>a {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

@media (min-width: 1769px) {
  .container {
    width: 1752px;
  }
  .sidefilter {
    width: 438px;
  }
  .sidetoc {
    width: 438px;
  }
  .article.grid-right {
    margin-left: 430px;
  }
  .col-md-10{width:75%}
  .col-md-2{width:25%}
  .sideaffix {
    width: 18%;
  }
  .affix ul>li.active>a {
    white-space: initial;
  }
  .affix ul>li>a {
    width: 99%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.code-header {
  box-sizing: content-box;
  background-color: var(--color-background-subnav);
  color: var(--color-foreground);
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-underline);
  border-bottom: 0;
  margin-top: 16px;
  min-height: 30px;
}

.tabGroup section[role="tabpanel"] .code-header {
  margin-left: -16px;
  margin-right: -16px;
}

.tabGroup section[role="tabpanel"] .code-header:first-child {
  margin-top: -16px;
}

.code-header > .language {
  padding: 2px 16px;
  flex-grow: 1;
  text-transform: uppercase;
  line-height: 26px;
}

.code-header > .action {
  position: relative;
  padding: 2px 10px;
  background-color: transparent;
  border: 0 solid var(--color-underline);
  border-left-width: 1px;
  color: var(--color-foreground);
  cursor: pointer;
  display: flex;
  align-items: center;
  line-height: normal;
}

.code-header .glyphicon {
  margin-right: 0.25em;
}

.code-header > .action:hover {
  background-color: var(--color-background-table-alt);
}

.code-header + pre {
  margin-top: 0;
  border: 1px solid var(--color-underline);
}

.code-header > .action .successful-copy-alert {
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  display: flex;
  background-color: #128712;
  outline-color: #fff;
  color: #fff;
}

.code-header > .action .successful-copy-alert.is-transparent {
  opacity: 0;
  transition: 500ms opacity ease-in-out;
}

#search-query {
  /* hide the original search */
  display: none;
}

.search-button {
  background-color: transparent;
  border-color: transparent;
  overflow: hidden;
  outline: none;
  color: var(--color-navbar);
}

#new-search-btn:hover {
  color: #eef2f5;
}
#new-search-btn:focus {
  outline: none;
}

#search-results-new {
  max-width: 960px !important;
  margin-top: 120px;
  margin-bottom: 115px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#search-box {
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
}

#search-close-btn {
  align-self: flex-end;
  padding: 0;
  margin-bottom: 30px;
  outline: none;
}

#search-results-new #search-input {
  width: 100%;
  font-weight: 400;
  color: var(--color-foreground);
  background-color: var(--color-background);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  height: 46px;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 24px;
}

#search-results-new #search-input:hover {
  border-color: #80bdff;
}

#search-results-new #search-input:focus {
  border-color: #80bdff;
  outline: 0;
}

#search-result-items {
  padding: 0 1.5rem;
}

#search-result-items .result {
  margin-bottom: 18px;
  overflow: hidden;
}

#search-result-items .result:hover .title {
  text-decoration: underline;
}

#search-result-items .result > a {
  padding: 6px 7px;
  display: flex;
  flex-direction: column;
}

#search-result-items .result .url {
  font-size: 11px;
  color: #878787;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#search-result-items .result .title {
  font-size: 18px;
  font-weight: 600;
  word-break: break-word;
  word-wrap: break-word;
}

/* Styles for image grid on index page */

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 11px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column img:hover{
  background-color: #e7e7e7;
}

.column img:active{
  background-color: #d1d1d1;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
