---
uid: Connector_help_Skyline_Synthetic_Testing_Results
---

# Skyline Synthetic Testing Results

This connector is used in the Synthetic Test Solution and is intended to be the central location where the results from synthetic testing are stored.

## About

### Version Info

| **Range**            | **Key Features**                | **Based on**                               | **System Impact** |
|----------------------|---------------------------------|--------------------------------------------|-------------------|
| 1.0.0.x \[SLC Main\] | Synthetic Testing Results table | Skyline Service Definition Basic (1.0.0.9) | \-                |

### Product Info

| **Range** | **Supported Firmware** |
|-----------|------------------------|
| 1.0.0.x   | \-                     |

### System Info

| **Range** | **DCF Integration** | **Cassandra Compliant** | **Linked Components** | **Exported Components** |
|-----------|---------------------|-------------------------|-----------------------|-------------------------|
| 1.0.0.x   | No                  | Yes                     | \-                    | \-                      |

## Configuration

To create a service with this connector, select the connector in the service editor. For more information, see [Adding a service](https://aka.dataminer.services/adding-a-service) in the DataMiner Help.

### Initialization

No extra configuration is needed.

### Redundancy

There is no redundancy defined.

## How to use

The **Synthetic Testing Results** page contains a table where you can find all synthetic test results.

Aside from this, this connector provides the same default parameters and pages as the [Skyline Service Definition Basic](xref:Connector_help_Skyline_Service_Definition_Basic) connector.

## Notes

This connector can only be used as part of the Synthetic Test Solution. It requires all the components from this solution in order to work.
