---
uid: CloudConnectionVerification
---

# Getting your organization verified

To make sure you can get the most out of having your DataMiner System connected to dataminer.services, you need to get your organization verified on dataminer.services. This verification ensures that you have access to all the current and upcoming new dataminer.services features.

Current benefits include access to the Catalog in order to install protocols directly from the dataminer.services using the artifact deployer (available starting from Cloud Pack v2.4).

To get your organization verified on dataminer.services:

1. In the Admin app, check whether the correct organization is mentioned in the header bar.

   > [!TIP]
   > See also: [Accessing the Admin app](xref:Accessing_the_Admin_app)

1. If a different organization should be selected, click the organization selector ![Organization selector](~/user-guide/images/Cloud_Admin_Selector_icon.png) in the top-right corner and select the organization in the list.

1. In the sidebar on the left, go to *Organization* > *Overview*.

1. Click the *Request verification* button. This will create a pre-configured email to the Skyline verification team with all the information they need in order to verify your connection to dataminer.services.

When your connection has been successfully verified, this will be displayed on this same page in the Admin app. In addition, a check mark will be displayed next to your organization name.

> [!NOTE]
> You can also start the verification process by contacting the Skyline verification team directly at [verification@skyline.be](mailto:verification@skyline.be).
