name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_job:
    runs-on: windows-latest
    name: Build Job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: choco install docfx
        run: |
          choco install docfx -y
        env:
          CI: true
      - name: build metadata -f
        run: |
          docfx metadata
      - name: build documentation
        run: |
          docfx build -t default,templates/slc_template -f
      - name: publish results
        uses: actions/upload-artifact@v2.2.4
        with:
          name: _site
          path: _site/
          
  deploy_job:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: build_job
    name: Deploy Job
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: _site
          path: _site 
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_VICTORIOUS_SEA_0E7978F03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/_site" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "" # Built app content directory - optional
          ###### End of Repository/Build Configurations ###### 
          
          # ${{ secrets.AZURE_STORAGE_ACCOUNT_CONNECTION_STRING }}
      - name: Deploy to Azure Container Instances
        uses: Azure/aci-deploy@v1
        with:
          # Name of the Resource Group in which the Container Instance will be created
          resource-group: "rg-benbo_testing-001"
          # The storage account access key used to access the Azure File Share
         # #  azure-file-volume-account-key: # optional, default is 
          # The name of the storage account that contains the Azure File Share
         # #  azure-file-volume-account-name: # optional, default is 
          # The path within the container where the Azure File Volume should be mounted. Must not contain ":"
         # #  azure-file-volume-mount-path: # optional, default is 
          # The name of the Azure File Share to be mounted as a volume
        # #   azure-file-volume-share-name: # optional, default is 
          # Should the Azure File Share be Mounted as Read Only. Accepted { true, false }
        # #   azure-file-volume-read-only: # optional, default is 
          # The command line to run when the container is started, e.g. "/bin/bash -c myscript.sh"
        # #   command-line: # optional, default is 
          # Number of CPU Cores Required
        # #   cpu: # optional, default is 1
          # The DNS Name Label for Container with Public IP
      # #     dns-name-label: 
          # List of environment variables for the container. Space-seperated in "key=value" format
      # #     environment-variables: # optional, default is 
          # The target directory path in the git repository. Must not contain ".."
   # #        gitrepo-dir: # optional, default is 
          # The path within the container where the git repo volume should be mounted. Must not contain ":"
      # #     gitrepo-mount-path: # optional, default is 
          # The commit hash for the specified revision
      # #     gitrepo-revision: # optional, default is 
          # The URL of a git repository to be mounted as a volume
       # #    gitrepo-url: # optional, default is 
          # The Number of GPU Resources needed in the Container
     # #      gpu-count: # optional, default is 
          # The SKU for the GPUs specified. Accepted Values are { K80, P100, V100 }
      # #     gpu-sku: # optional, default is 
          # Specify the fully qualified container image name. For example, "myregistry.azurecr.io/nginx:latest" or "python:3.7.2-alpine/"
      # #     image: 
          # IP Address type of the Container Group. Accepted Values are { Private, Public }.Currently it only supports { Public }
     # #      ip-address: # optional, default is Public
          # Location where the Container will be deployed
          location: "West Europe"
          # The Log Analytics Workspace Name or Id
    # #  log-analytics-workspace: # optional
          # The Log Analytics Workspace Key
        # #   log-analytics-workspace-key: # optional
          # The Log type to be used. Accepted Values are { ContainerInsights, ContainerInstanceLogs }
       # #    log-type: # optional
          # Required Memory of the Containers in GB, accurate to one decimal place
        # #   memory: # optional, default is 1.5
          # Name of the Container Group Instance
          name: "docs"
          # The OS type of the Containers. Accepted Values are  { Linux, Windows }
         # #  os-type: # optional, default is Linux
          # The Ports to Open on the Container. Space seperate the ports for multiple values
        # #   ports: # optional, default is 80
          # The Network protocol to use. Accepted Values are { TCP, UDP }
        # #   protocol: # optional, default is TCP
          # The container image registry login server
       # #    registry-login-server: # optional, default is 
          # Username to log in Container Image Registry Server
         # #  registry-username: # optional, default is 
          # Password to log in Container Image Registry Server
        # #  registry-password: # optional, default is 
          # Restart Policy for the container(s). Accepted Values are { Always, OnFailure, Never }
        # #   restart-policy: # optional, default is Always
          # List of secure environment variables for the container. Space seperated values in "key=value" format
        # #   secure-environment-variables: # optional, default is 

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_VICTORIOUS_SEA_0E7978F03 }}
          action: "close"
